{% extends 'base.html.twig' %}


{% block body %}
	<h2>Profil d'une nanny</h2>
	<h3>{{ nanny }}</h3>
	<h4>Nom:
		{{ nanny.name }}</h4>

	<h4>Localisation:
		{{ nanny.zipcode }}
		-
		{{ nanny.city }}
	</h4>
	<h4>Age:
		{{ nanny.age }}
		ans</h4>
{% endblock %}
