{% extends 'base.html.twig' %}


{% block body %}


	<h2>Profile de
		<h2/>

		{{ nanny.firstname}}
		<hr/>
		{{ nanny.name}}
		<hr/>
		{{ nanny.city }}
		<hr/>
		{{ nanny.zipcode}}
		<hr/>
		{{ nanny.age }}Ans

		<hr/>
		{{ nanny.category}}

		<hr/>
		<div>
			<a href="{{path('page_recherche_une_nanny')}}">Retour à la liste des nannies</a>
		</div>
	{% endblock %}
