{% extends 'base.html.twig' %}

{% block title %}
	Garde:
	{{category.name}}
{% endblock %}

{% block body %}
	{#{{dump(categories)}}#}
	<h1>Garde:
		{{category.name | upper}}</h1>
	<table>
		<thead>
			<tr>
				{#<th>id</th>#}
				<th>name</th>
				<th>nannies</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{category.id}}</td>
				<td>{{category.name}}</td>
				<td>
					{% for nanny in category.nannies %}
						<br/>

						{{nanny.name}}
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
